<ion-header>
  <ion-toolbar>
    <ion-title>create-task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="formulario">
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input formControlName="title" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description1</ion-label>
    <ion-input formControlName="description" type="text" required></ion-input>
  </ion-item>

{{formulario.invad}}

<ion-button type="submit" (click)="salvarTask()" [disabled]="formulario.invad" color="success" expand="block">Salvar</ion-button>

</form>
</ion-content>
